*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body{
    margin: 0px;
}
.sqr{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
    background-color: #E9E9E9;  
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #00008b;
    font-weight: bold;
}
nav ul li a:hover{
    color:red;
}

.detail{
    margin-left: 10%;
    margin-top: 10%;
}

.detail h1{
    font-size: 40px;
    color:darkorange;
    margin-bottom: 5px;
}

span{
    color: crimson;
}

.detail p{
    color: black;
    line-height: 30px;
    font-size: 20px;
}

.detail a{
    background-color: #00008b;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-40%);
    transition: bottom 1s,left 1s;
}

.images:hover .shape{
    bottom: 30px;

}

.images:hover .girl{
    left: 45%;
}